{
  "android": {
    "release": {
      "keystore": "/path/to/your/my-release-key.keystore",
      "storePassword": "your_keystore_password",
      "alias": "Runebase-Light-Wallet",
      "password" : "your_key_password",
      "keystoreType": "jks"
    }
  }
}
