<?xml version='1.0' encoding='utf-8'?>
<widget id="io.runebase.runebaselightwallet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Runebase Light Wallet</name>
    <description>A lightweight wallet and transaction signing client for the Runebase network</description>
    <author email="support@runebase.io" href="https://www.runebase.io">Bago</author>
    <content src="popup.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="26" />
        <!-- <preference name="AutoHideSplashScreen" value="false" /> -->
        <!-- <preference name="AndroidPersistentFileLocation" value="internal" /> -->
         <!-- Adaptive Icon with Images for each density -->
        <icon monochrome="res/screen/android/mipmap-ldpi/ic_launcher.png" background="res/screen/android/values/ic_launcher_background.xml" density="ldpi" foreground="res/screen/android/mipmap-ldpi/ic_launcher.png" />
        <icon monochrome="res/screen/android/mipmap-mdpi/ic_launcher_foreground.png" background="res/screen/android/values/ic_launcher_background.xml" density="mdpi" foreground="res/screen/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon monochrome="res/screen/android/mipmap-hdpi/ic_launcher_foreground.png" background="res/screen/android/values/ic_launcher_background.xml" density="hdpi" foreground="res/screen/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon monochrome="res/screen/android/mipmap-xhdpi/ic_launcher_foreground.png" background="res/screen/android/values/ic_launcher_background.xml" density="xhdpi" foreground="res/screen/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon monochrome="res/screen/android/mipmap-xxhdpi/ic_launcher_foreground.png" background="res/screen/android/values/ic_launcher_background.xml" density="xxhdpi" foreground="res/screen/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon monochrome="res/screen/android/mipmap-xxxhdpi/ic_launcher_foreground.png" background="res/screen/android/values/ic_launcher_background.xml" density="xxxhdpi" foreground="res/screen/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
        <!-- Fallback Icons for older Android versions -->
        <icon src="res/screen/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/screen/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/screen/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/screen/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/screen/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/screen/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
        <icon src="res/screen/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
        <!-- Splash screen configuration -->
        <preference name="FadeSplashScreen" value="false" />
        <!-- Splash screen background color -->
        <preference name="AndroidWindowSplashScreenBackground" value="#8FD8D8" />
        <!-- Splash screen icon (not working, followed documnetation to the nail. tried many different approaches too) -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="@mipmap/ic_launcher" />
        <!-- <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" /> -->
    </platform>
</widget>
